# Klucz API Jooble - zarejestruj się na https://pl.jooble.org/api/about
JOOBLE_API_KEY=twoj_klucz_api_tutaj

# Adzuna API - https://developer.adzuna.com/
ADZUNA_APP_ID=twoj_app_id_tutaj
ADZUNA_APP_KEY=twoj_app_key_tutaj
